*
!*/

!/.gitignore
!README.md
!/SID

!/PartA/exploits/exploit1.c
!/PartA/exploits/exploit2.c
!/PartA/exploits/exploit3.c
!/PartA/exploits/exploit4.c
!/PartA/exploits/exploit5.c
!/PartA/exploits/exploit6.c
!/PartA/exploits/exploit7-file
!/PartA/exploits/exploit7-stdin
!/PartA/exploits/exploit7-explain.txt

!/PartB/sudo_exploit/sudo_exploit1.sh
!/PartB/sudo_exploit/sudo_exploit2.sh
!/PartB/sudo_exploit/sudo_exploit-explain.txt

!/PartB/ghttpd_exploit/cf_exploit.c
!/PartB/ghttpd_exploit/doa_exploit.c
